In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("exportaciones.csv")
print("===============Vista inicial del DataFrame===================")
display(df.head())

===============Vista inicial del DataFrame===================

,fecha,fecha de corte,Valor exportaciones totales bienes,Valor exportaciones NME,exportaciones de servicios,Valor exportaciones NME + exportaciones de servicios,Valor de exportaciones totales bienes + exportaciones de servicios,(valor exportaciones NME + exportaciones de servicios)/(valor exportaciones totales bienes + exportaciones de servicios)
0,03/31/2000 12:00:00 AM,10/01/2021 12:00:00 AM,3119,1575,468,2043,3587,57.0
1,06/30/2000 12:00:00 AM,10/01/2021 12:00:00 AM,3187,1702,498,2201,3685,59.7
2,09/30/2000 12:00:00 AM,10/01/2021 12:00:00 AM,3450,1927,532,2459,3982,61.8
3,12/31/2000 12:00:00 AM,10/01/2021 12:00:00 AM,3403,1869,564,2433,3967,61.3
4,03/31/2001 12:00:00 AM,10/01/2021 12:00:00 AM,2984,1704,514,2218,3498,63.4

In [7]:

df.count()

fecha                                                                                                                       101
fecha de corte                                                                                                              101
Valor exportaciones totales bienes                                                                                          101
Valor exportaciones NME                                                                                                     101
exportaciones de servicios                                                                                                  101
Valor exportaciones NME + exportaciones de servicios                                                                        101
Valor de exportaciones totales bienes + exportaciones de servicios                                                          101
(valor exportaciones NME + exportaciones de servicios)/(valor exportaciones totales bienes + exportaciones de servicios)    101
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 8 columns):
 #   Column                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                    --------------  -----
 0   fecha                                                                                                                     101 non-null    object
 1   fecha de corte                                                                                                            101 non-null    object
 2   Valor exportaciones totales bienes                                                                                        101 non-null    int64
 3   Valor exportaciones NME                                                                                                   101 non-null    int64
 4   exportaciones de servicios                                                                                                101 non-null    int64
 5   Valor exportaciones NME + exportaciones de servicios                                                                      101 non-null    int64
 6   Valor de exportaciones totales bienes + exportaciones de servicios                                                        101 non-null    int64
 7   (valor exportaciones NME + exportaciones de servicios)/(valor exportaciones totales bienes + exportaciones de servicios)  101 non-null    float64
dtypes: float64(1), int64(5), object(2)
memory usage: 6.4+ KB

In [9]:
display(df.describe())

,Valor exportaciones totales bienes,Valor exportaciones NME,exportaciones de servicios,Valor exportaciones NME + exportaciones de servicios,Valor de exportaciones totales bienes + exportaciones de servicios,(valor exportaciones NME + exportaciones de servicios)/(valor exportaciones totales bienes + exportaciones de servicios)
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,9022.059406,3626.831683,1825.811881,5452.663366,10847.831683,53.008911
std,3885.092696,1098.593319,1125.644124,2132.937802,4755.898504,8.975457
min,2749.000000,1575.000000,429.000000,2043.000000,3213.000000,32.900000
25%,6123.000000,3102.000000,896.000000,3921.000000,6942.000000,49.100000
50%,9099.000000,3781.000000,1710.000000,5706.000000,11282.000000,54.700000
75%,12279.000000,4172.000000,2343.000000,6405.000000,15642.000000,59.700000
max,15621.000000,6140.000000,4762.000000,10902.000000,18960.000000,71.400000